{% extends 'base.html' %}

{% block head %}
<title>home</title>
{% endblock %}

{% block body %}
<div class="topnav">
    <input type="search" id="myInput" placeholder="Search for movies..">
    <div class="dropdown">
        <button class="dropbtn">Year
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            {% for year in years %}
            <a href="/?year={{ year }}">{{ year }}</a>
            {% endfor %}
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Genre
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            {% for genre in genres %}
            <a href="/?filter_by={{ genre.name[0] }}">{{ genre.name[0] }}</a>
            {% endfor %}
        </div>
    </div>
</div>
<script>
document.getElementById("myInput").addEventListener("search", myFunction);

function myFunction() {
  var v = document.getElementById("myInput");
  window.location.href ="/?search=" + v.value;
}
</script>
<table>
    <tr>
        <th><a href="/?sort_by=original_title"> Original Title</a></th>
        <th><a href="/?sort_by=release_date">Release Date</a></th>
        <th><a href="/?sort_by=vote_average">Vote Average</a></th>
        <th><a href="/?sort_by=original_language">Original Language</a></th>
    </tr>


    {% for movie in movies %}
    <tr>
        <td> <a href="/movie/{{ movie[0] }}">{{ movie[1].original_title[0] }}</a>
            <button type="button" onclick="location.href='/movie/{{ movie[0] }}/del'" class="btn btn-default btn-sm" style="float: right"> Del </button>
            <button type="button" onclick="location.href='/movie/{{ movie[0] }}/edit'" class="btn btn-default btn-sm" style="float: right;margin-right: 4px;"> Edit </button>
        <td>{{ movie[1].release_date[0] }}</td>
        <td>{{ movie[1].vote_average[0] }}</td>
        <td>{{ movie[1].original_language[0] }}</td>
    </tr>
    {% endfor %}

</table>
{% endblock %}